* {
    margin: 0;
    padding: 0;
}

.top {
    width: 1920px;
    height: 943px;
    background: #FFF;;
}

.menu_bar {
    width: 1170px;
    height: 40px;
    margin: 40px 375px 80px;
}

.menu_bar_logo {
    width: 115px;
    height: 40px;
}

.menu {
    width: 533px;
    height: 17px;
}

.header_link {
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header_link:active {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.features_icon {
    width: 6px;
    height: 3px;
}

.title {
    width: 522px;
    height: 222px;
    margin-bottom: 17px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subtitle {
    width: 466px;
    height: 48px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button, .button_start {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 162px;
}

.button_start {
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top_image {
    width: 545px;
    height: 375px;
}

.top_logos {
    width: 1920px;
    height: 243px;
}

.brand_logo {
    width: 1200px;
    height: 50px;
    margin: 97px 375px 96px 345px;
}

.brand_image {
    width: 160px;
    height: 50px;
    margin-right: 48px;
}

.brand_logo:last-child {
    margin-right: 0;
}